.container {
    padding: 50px;
}

.backLight {
    padding: 10px 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    width: 120px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    & > img {
        width: 25px;
        height: 25px;
    }
}
.backDark {
    padding: 10px 20px;
    background-color: #2b3743;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    gap: 10px;
    width: 120px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    & > img {
        width: 25px;
        height: 25px;
    }
}

.details {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.flag {
    width: 100%;
    height: 100%;
}

.right {
    padding: 15px 30px;
    @media (max-width: 768px) {
        padding: 0;
    }
}

.description {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 520px) {
        flex-direction: column;
    }
}
.description_left,
.description_right {
    & > p {
        font-weight: 600;
        padding-top: 5px;
        & > span {
            font-weight: 300;
        }
    }
}

.border_countries {
    padding-top: 20px;
    & > p {
        font-weight: 600;
        padding-top: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
        @media (max-width: 500px) {
            flex-direction: column;
            align-items: flex-start;
        }
        & > span {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            & > span {
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
                padding: 5px 10px;
            }
        }
    }
}
